In [1]:
import pandas as pd

In [2]:
# Creating links to sources
alaska = "Resources/Alaska_Detailed_Summary.csv"
california = "Resources/California_Detailed_Summary.csv"
hawaii = "Resources/Hawaii_Detailed_Summary.csv"
oregon = "Resources/Oregon_Detailed_Summary.csv"
washington = "Resources/Washington_Detailed_Summary.csv"

East_Coast_Waste = "Resources/EC_Litter.csv"
West_Coast_Waste = "Resources/WC_Litter.csv"

In [3]:
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

East_Coast_Waste = pd.read_csv(East_Coast_Waste)
West_Coast_Waste = pd.read_csv(West_Coast_Waste)

In [4]:
East_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alabama, USA",162118,52720,8663,102815,83611,32891.0
1,"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
2,"Delaware, USA",104780,17237,6183,58002,36072,16253.0
3,"Florida, USA",2136662,326441,91921,866500,516453,437590.0
4,"Georgia, USA",117665,29566,10242,107308,47645,67750.0

In [5]:
West_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",17089,17001,4451,11356,10504,13506.0
1,"California, USA",1513814,439899,45287,838130,646930,463359.0
2,"Hawaii, USA",162594,27640,22564,92206,44719,46293.0
3,"Oregon, USA",109147,23946,4098,29913,18316,14395.0
4,"Washington, USA",98557,40371,10013,67107,40412,41235.0

In [6]:
w_states = [alaska_pd, california_pd, hawaii_pd, oregon_pd, washington_pd]
west_coast = pd.concat(w_states)
west_coast.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,7933,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",2016-10-01,CACS Coast Walk,2.0,0.0,...,0,0,0,0,0,0,11,0,7,89.0
1,7979,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",2016-10-08,CACS Coast Walk,3.0,0.0,...,0,0,0,0,0,0,1,0,5,42.0
2,7980,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",2016-09-18,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,4,0,13,44.0
3,7982,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,4.0,0.0,...,0,0,0,0,0,0,14,14,21,169.0
4,7984,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,10,6,15,87.0

In [7]:
west_coast_edit = west_coast.drop(columns=['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People'])
west_coast_edit

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",150.00,4.0000,4.0,2,7,0,0,...,0,0,0,0,0,0,11,0,7,89.0
1,"Alaska, USA","59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",15.00,1.0000,1.0,4,2,0,0,...,0,0,0,0,0,0,1,0,5,42.0
2,"Alaska, USA","59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",7.00,2.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,4,0,13,44.0
3,"Alaska, USA","59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",60.00,2.5000,6.0,0,3,2,0,...,0,0,0,0,0,0,14,14,21,169.0
4,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,1.6000,3.0,0,3,0,0,...,0,0,0,0,0,0,10,6,15,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,"Washington, USA","47.56551, -122.18991","Land (beach, shoreline and inland)",0.10,0.0165,0.0,1,1,0,0,...,0,0,0,0,0,0,0,0,3,6.0
1368,"Washington, USA","47.56558, -122.19049","Land (beach, shoreline and inland)",0.69,0.0109,0.0,0,2,0,1,...,0,0,0,0,0,0,0,0,7,11.0
1369,"Washington, USA","47.34871204, -122.325211",Underwater,24.20,0.0100,0.0,0,6,0,0,...,0,0,0,0,0,0,0,0,4,57.0
1370,"Washington, USA","47.27847505, -122.472893",Underwater,55.00,0.0100,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,13.0
1371,NaN,NaN,NaN,NaN,NaN,NaN,64076,24258,2946,1405,...,18057,83,132,120,259,1168,31322,10186,59694,NaN

In [8]:
west_coast_renamed = west_coast_edit.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)", "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", "Fishing Buoys, Pots & Traps" : "Fishing Tools", "Fishing Net & Pieces" : "Fishing Nets", "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", "Rope (1 yard/meter = 1 piece)" : "Rope", "Fishing Gear (Clean Swell)" : "Fishing Gear", "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", "Tobacco Packaging/Wrap" : "Tobacco Packs", "Other Packaging (Clean Swell)" : "Other Packaging", "Other Trash (Clean Swell)" : "Other Trash", "Personal Hygiene (Clean Swell)" : "Hygiene"})
west_coast_renamed

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",150.00,4.0000,4.0,2,7,0,0,...,0,0,0,0,0,0,11,0,7,89.0
1,"Alaska, USA","59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",15.00,1.0000,1.0,4,2,0,0,...,0,0,0,0,0,0,1,0,5,42.0
2,"Alaska, USA","59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",7.00,2.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,4,0,13,44.0
3,"Alaska, USA","59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",60.00,2.5000,6.0,0,3,2,0,...,0,0,0,0,0,0,14,14,21,169.0
4,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,1.6000,3.0,0,3,0,0,...,0,0,0,0,0,0,10,6,15,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,"Washington, USA","47.56551, -122.18991","Land (beach, shoreline and inland)",0.10,0.0165,0.0,1,1,0,0,...,0,0,0,0,0,0,0,0,3,6.0
1368,"Washington, USA","47.56558, -122.19049","Land (beach, shoreline and inland)",0.69,0.0109,0.0,0,2,0,1,...,0,0,0,0,0,0,0,0,7,11.0
1369,"Washington, USA","47.34871204, -122.325211",Underwater,24.20,0.0100,0.0,0,6,0,0,...,0,0,0,0,0,0,0,0,4,57.0
1370,"Washington, USA","47.27847505, -122.472893",Underwater,55.00,0.0100,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,13.0
1371,NaN,NaN,NaN,NaN,NaN,NaN,64076,24258,2946,1405,...,18057,83,132,120,259,1168,31322,10186,59694,NaN

In [9]:
# List out all our remaining columns
column_list = list(west_coast_renamed)
column_list

['State',
 'GPS',
 'Cleanup Type',
 'Pounds',
 'Miles',
 '# of bags',
 'Cigarette Butts',
 'Food Wrappers',
 'Food Containers (Plastic)',
 'Food Containers (Foam)',
 'Bottle Caps (Plastic)',
 'Bottle Caps (Metal)',
 'Lids (Plastic)',
 'Straws, Stirrers',
 'Forks, Knives, Spoons',
 'Beverage Bottles (Plastic)',
 'Beverage Bottles (Glass)',
 'Beverage Cans',
 'Grocery Bags (Plastic)',
 'Other Plastic Bags',
 'Paper Bags',
 'Cups, Plates (Paper)',
 'Cups, Plates (Plastic)',
 'Cups, Plates (Foam)',
 'Fishing Tools',
 'Fishing Nets',
 'Fishing Lines',
 'Rope',
 'Fishing Gear',
 '6-Pack Holders',
 'Other Plastic/Foam Packaging',
 'Other Plastic Bottles',
 'Strapping Bands',
 'Tobacco Packs',
 'Other Packaging',
 'Appliances (refrigerators, washers, etc.)',
 'Balloons',
 'Cigar Tips',
 'Cigarette Lighters',
 'Construction Materials',
 'Fireworks',
 'Tires',
 'Toys',
 'Other Trash',
 'Condoms',
 'Diapers',
 'Syringes',
 'Tampons/Tampon Applicators',
 'Hygiene',
 'Foam Pieces',
 'Glass Pieces',
 'Plastic Pieces',
 'Total Items Collected']

In [10]:
# Group all our plastic items and then call them into a data frame together based by State
plastic_group = west_coast_renamed[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers",
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags",
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces"]]
plastic_group.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Alaska, USA",0,0,1,0,4,4,1,0,0,0,0,7
1,"Alaska, USA",0,0,5,0,3,0,0,0,0,2,0,5
2,"Alaska, USA",0,1,0,0,13,0,0,2,0,0,0,13
3,"Alaska, USA",2,2,2,0,2,8,5,1,0,1,0,21
4,"Alaska, USA",0,0,1,0,0,3,2,0,0,0,0,15

In [11]:
plastic_grouping = plastic_group.groupby(["State"])
WC_plastic_count = plastic_grouping.sum()
WC_plastic_count.head()

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alaska, USA",504,1957,658,603,1802,752,1090,418,35,222,32,9016
"California, USA",59531,218033,67400,113083,99098,69964,54867,50753,3670,9112,3765,764538
"Hawaii, USA",4668,19703,4768,5706,6134,3926,3659,3718,254,1359,101,108598
"Oregon, USA",2443,7935,2886,2688,2832,1841,1716,794,244,438,101,85229
"Washington, USA",2946,9156,3353,4647,8388,4468,2940,2340,215,327,83,59694

In [12]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_plastic_count["Plastic Waste"]  = WC_plastic_count.sum(axis=1)
WC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alaska, USA",504,1957,658,603,1802,752,1090,418,35,222,32,9016,17089
"California, USA",59531,218033,67400,113083,99098,69964,54867,50753,3670,9112,3765,764538,1513814
"Hawaii, USA",4668,19703,4768,5706,6134,3926,3659,3718,254,1359,101,108598,162594
"Oregon, USA",2443,7935,2886,2688,2832,1841,1716,794,244,438,101,85229,109147
"Washington, USA",2946,9156,3353,4647,8388,4468,2940,2340,215,327,83,59694,98557

In [13]:
# Before grouping all the foam together, call forward all foam items
west_coast_group = west_coast_renamed[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces"]]
west_coast_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Alaska, USA",0,0,5,11
1,"Alaska, USA",0,0,7,1
2,"Alaska, USA",0,0,0,4
3,"Alaska, USA",0,0,2,14
4,"Alaska, USA",0,0,0,10
...,...,...,...,...,...
1367,"Washington, USA",0,0,0,0
1368,"Washington, USA",1,0,0,0
1369,"Washington, USA",0,0,0,0
1370,"Washington, USA",0,0,0,0
1371,NaN,1405,421,7223,31322

In [14]:
# Grouping foam pieces together
foam_group = west_coast_group.groupby(["State"])
WC_foam_counts = foam_group.sum()
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alaska, USA",203,195,2015,14588
"California, USA",36899,20420,58881,323699
"Hawaii, USA",2541,1338,6844,16917
"Oregon, USA",1463,593,2718,19172
"Washington, USA",1405,421,7223,31322

In [15]:
# Create a Subtotal Column for Foam Items collected in the data frame
WC_foam_counts["Foam Waste"]  = WC_foam_counts.sum(axis=1)
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alaska, USA",203,195,2015,14588,17001
"California, USA",36899,20420,58881,323699,439899
"Hawaii, USA",2541,1338,6844,16917,27640
"Oregon, USA",1463,593,2718,19172,23946
"Washington, USA",1405,421,7223,31322,40371

In [16]:
# Repeating the same process, now we'll group the fishing 
west_coast_fishing = west_coast_renamed[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
west_coast_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Alaska, USA",5,1,4,0,1
1,"Alaska, USA",1,1,1,0,1
2,"Alaska, USA",3,0,6,0,0
3,"Alaska, USA",1,0,45,0,0
4,"Alaska, USA",1,0,25,0,0
...,...,...,...,...,...,...
1367,"Washington, USA",0,0,0,0,0
1368,"Washington, USA",0,0,0,0,0
1369,"Washington, USA",0,0,4,0,0
1370,"Washington, USA",0,0,0,0,0
1371,NaN,407,1086,2270,4141,2109

In [17]:
# Grouping Foam Pieces together
fishing_group = west_coast_fishing.groupby(["State"])
WC_fishing_counts = fishing_group.sum()
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alaska, USA",309,274,2817,57,994
"California, USA",3867,5491,18174,8634,9121
"Hawaii, USA",2154,4628,4169,5581,6032
"Oregon, USA",262,722,815,653,1646
"Washington, USA",407,1086,2270,4141,2109

In [18]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_fishing_counts["Fisherman's Waste"]  = WC_fishing_counts.sum(axis=1)
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alaska, USA",309,274,2817,57,994,4451
"California, USA",3867,5491,18174,8634,9121,45287
"Hawaii, USA",2154,4628,4169,5581,6032,22564
"Oregon, USA",262,722,815,653,1646,4098
"Washington, USA",407,1086,2270,4141,2109,10013

In [19]:
# Same process with Misc
random_mess = west_coast_renamed[["State", "Strapping Bands", "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Alaska, USA",1,0,0,1,0,4.0,9,5,0,0,0,0,0,0
1,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
2,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
3,"Alaska, USA",2,0,0,0,0,6.0,2,0,0,0,0,0,0,14
4,"Alaska, USA",1,0,0,0,0,3.0,2,0,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1368,"Washington, USA",0,0,0,0,0,0.0,0,0,1,0,0,0,0,0
1369,"Washington, USA",27,0,0,0,0,0.0,1,0,0,0,0,0,0,0
1370,"Washington, USA",0,0,0,0,0,0.0,2,1,0,0,0,0,0,0
1371,NaN,1158,2079,18057,2284,69,NaN,2897,175,1195,132,120,259,1168,10186

In [20]:
random_trash = random_mess.groupby(["State"])
WC_misc_waste = random_trash.sum()
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alaska, USA",385,366,578,77,54,429.0,7781,115,80,55,25,33,274,3254
"California, USA",14422,33705,131726,5946,2012,26880.0,28779,4597,19535,3152,3620,4210,14524,170251
"Hawaii, USA",1395,2651,11640,409,186,1628.0,2118,204,714,223,104,210,1666,23145
"Oregon, USA",979,430,2149,897,53,481.0,2486,391,227,100,183,364,213,5442
"Washington, USA",1158,2079,18057,2284,69,1456.0,2897,175,1195,132,120,259,1168,10186

In [21]:
# Create a Subtotal Column for Miscellaneous items collected in the data frame
WC_misc_waste["Miscellaneous Waste Items"] = WC_misc_waste.sum(axis=1)
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alaska, USA",385,366,578,77,54,429.0,7781,115,80,55,25,33,274,3254,13506.0
"California, USA",14422,33705,131726,5946,2012,26880.0,28779,4597,19535,3152,3620,4210,14524,170251,463359.0
"Hawaii, USA",1395,2651,11640,409,186,1628.0,2118,204,714,223,104,210,1666,23145,46293.0
"Oregon, USA",979,430,2149,897,53,481.0,2486,391,227,100,183,364,213,5442,14395.0
"Washington, USA",1158,2079,18057,2284,69,1456.0,2897,175,1195,132,120,259,1168,10186,41235.0

In [22]:
west_coast_smoking_waste = west_coast_renamed[["State", "Cigarette Butts", "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", ]]
west_coast_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Alaska, USA",2,0,0,0
1,"Alaska, USA",4,0,0,0
2,"Alaska, USA",0,0,0,0
3,"Alaska, USA",0,0,0,0
4,"Alaska, USA",0,0,0,0
...,...,...,...,...,...
1367,"Washington, USA",1,0,0,0
1368,"Washington, USA",0,0,0,0
1369,"Washington, USA",0,0,0,0
1370,"Washington, USA",0,0,0,0
1371,NaN,64076,1972,633,426

In [23]:
smoking_waste_group = west_coast_smoking_waste.groupby(["State"])
WC_smoking_waste_counts = smoking_waste_group.sum()
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alaska, USA",10720,281,262,93
"California, USA",791142,17141,22485,7362
"Hawaii, USA",90194,1031,573,408
"Oregon, USA",28221,717,638,337
"Washington, USA",64076,1972,633,426

In [24]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_smoking_waste_counts["Smoking Waste Items"]  = WC_smoking_waste_counts.sum(axis=1)
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alaska, USA",10720,281,262,93,11356
"California, USA",791142,17141,22485,7362,838130
"Hawaii, USA",90194,1031,573,408,92206
"Oregon, USA",28221,717,638,337,29913
"Washington, USA",64076,1972,633,426,67107

In [25]:
food_mess = west_coast_renamed[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)"]]
food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Alaska, USA",7,0,0,16,0,2
1,"Alaska, USA",2,0,0,7,0,0
2,"Alaska, USA",0,0,0,2,0,0
3,"Alaska, USA",3,0,3,33,0,0
4,"Alaska, USA",3,0,2,16,0,0
...,...,...,...,...,...,...,...
1367,"Washington, USA",1,0,0,1,0,0
1368,"Washington, USA",2,0,0,0,0,0
1369,"Washington, USA",6,2,5,4,0,0
1370,"Washington, USA",0,0,0,5,0,0
1371,NaN,24258,1814,3850,8047,1204,1239

In [26]:
food_waste = food_mess.groupby(["State"])
WC_misc_food_waste = food_waste.sum()
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alaska, USA",5724,346,734,2670,522,508
"California, USA",398905,43932,76291,66386,29316,32100
"Hawaii, USA",21639,4282,10245,4883,1968,1702
"Oregon, USA",10251,897,2841,2618,1008,701
"Washington, USA",24258,1814,3850,8047,1204,1239

In [27]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_misc_food_waste["Misc Food Waste Items"]  = WC_misc_food_waste.sum(axis=1)
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alaska, USA",5724,346,734,2670,522,508,10504
"California, USA",398905,43932,76291,66386,29316,32100,646930
"Hawaii, USA",21639,4282,10245,4883,1968,1702,44719
"Oregon, USA",10251,897,2841,2618,1008,701,18316
"Washington, USA",24258,1814,3850,8047,1204,1239,40412

In [28]:
# Merge
WC_plastic_foam = pd.merge(WC_plastic_count, WC_foam_counts, on="State", how="left")
WC_fishing_smoking = pd.merge(WC_fishing_counts, WC_smoking_waste_counts, on="State", how="left")
WC_miscfood_misc = pd.merge(WC_misc_food_waste, WC_misc_waste, on="State", how="left")
WC_four = pd.merge(WC_plastic_foam, WC_fishing_smoking, on="State", how="left")
WC_total = pd.merge(WC_four, WC_miscfood_misc, on="State", how="left")
WC_grand_total = WC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])
WC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alaska, USA",17089,17001,4451,11356,10504,13506.0
"California, USA",1513814,439899,45287,838130,646930,463359.0
"Hawaii, USA",162594,27640,22564,92206,44719,46293.0
"Oregon, USA",109147,23946,4098,29913,18316,14395.0
"Washington, USA",98557,40371,10013,67107,40412,41235.0

In [29]:
# Saving West Coast Data to CSV
WC_grand_total.to_csv("Resources/WC_Litter.csv", index=True)

In [30]:
# Working on Merging both EC & WC Data
East_West_Litter = pd.concat([West_Coast_Waste, East_Coast_Waste], axis=0, join="outer")
East_West_Litter

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",17089,17001,4451,11356,10504,13506.0
1,"California, USA",1513814,439899,45287,838130,646930,463359.0
2,"Hawaii, USA",162594,27640,22564,92206,44719,46293.0
3,"Oregon, USA",109147,23946,4098,29913,18316,14395.0
4,"Washington, USA",98557,40371,10013,67107,40412,41235.0
0,"Alabama, USA",162118,52720,8663,102815,83611,32891.0
1,"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
2,"Delaware, USA",104780,17237,6183,58002,36072,16253.0
3,"Florida, USA",2136662,326441,91921,866500,516453,437590.0
4,"Georgia, USA",117665,29566,10242,107308,47645,67750.0
5,"Louisiana, USA",99923,17611,5127,19305,29219,19014.0
6,"Maine, USA",59493,24553,15405,98015,24849,20562.0
7,"Maryland, USA",137983,89443,5934,30097,30319,16551.0
8,"Massachusetts, USA",194662,1734445,22658,112408,78640,45557.0
9,"Mississippi, USA",272746,96520,15740,162647,117390,65066.0
10,"New Hampshire, USA",30565,124788,8664,64128,12026,9188.0
11,"New Jersey, USA",247981,40086,8032,69884,89245,39655.0
12,"New York, USA",531150,137787,25011,212475,212727,136847.0
13,"North Carolina, USA",134397,34006,6057,137720,66539,42385.0
14,"Rhode Island, USA",212945,55080,21238,166780,94181,71354.0
15,"South Carolina, USA",123444,44163,9071,98693,47983,37967.0
16,"Texas, USA",568165,111735,44542,196452,140885,101938.0
17,"Virginia, USA",261140,71165,7226,114577,119174,63518.0

In [31]:
Combo_Data = [West_Coast_Waste, East_Coast_Waste]

In [32]:
East_West_Litter = pd.concat(Combo_Data, keys=['West Coast', 'East Coast']).reset_index()
East_West_Litter

,level_0,level_1,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,0,"Alaska, USA",17089,17001,4451,11356,10504,13506.0
1,West Coast,1,"California, USA",1513814,439899,45287,838130,646930,463359.0
2,West Coast,2,"Hawaii, USA",162594,27640,22564,92206,44719,46293.0
3,West Coast,3,"Oregon, USA",109147,23946,4098,29913,18316,14395.0
4,West Coast,4,"Washington, USA",98557,40371,10013,67107,40412,41235.0
5,East Coast,0,"Alabama, USA",162118,52720,8663,102815,83611,32891.0
6,East Coast,1,"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
7,East Coast,2,"Delaware, USA",104780,17237,6183,58002,36072,16253.0
8,East Coast,3,"Florida, USA",2136662,326441,91921,866500,516453,437590.0
9,East Coast,4,"Georgia, USA",117665,29566,10242,107308,47645,67750.0
10,East Coast,5,"Louisiana, USA",99923,17611,5127,19305,29219,19014.0
11,East Coast,6,"Maine, USA",59493,24553,15405,98015,24849,20562.0
12,East Coast,7,"Maryland, USA",137983,89443,5934,30097,30319,16551.0
13,East Coast,8,"Massachusetts, USA",194662,1734445,22658,112408,78640,45557.0
14,East Coast,9,"Mississippi, USA",272746,96520,15740,162647,117390,65066.0
15,East Coast,10,"New Hampshire, USA",30565,124788,8664,64128,12026,9188.0
16,East Coast,11,"New Jersey, USA",247981,40086,8032,69884,89245,39655.0
17,East Coast,12,"New York, USA",531150,137787,25011,212475,212727,136847.0
18,East Coast,13,"North Carolina, USA",134397,34006,6057,137720,66539,42385.0
19,East Coast,14,"Rhode Island, USA",212945,55080,21238,166780,94181,71354.0
20,East Coast,15,"South Carolina, USA",123444,44163,9071,98693,47983,37967.0
21,East Coast,16,"Texas, USA",568165,111735,44542,196452,140885,101938.0
22,East Coast,17,"Virginia, USA",261140,71165,7226,114577,119174,63518.0

In [33]:
East_West_Litter = East_West_Litter.drop(columns=['level_1'])
East_West_Litter

,level_0,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",17089,17001,4451,11356,10504,13506.0
1,West Coast,"California, USA",1513814,439899,45287,838130,646930,463359.0
2,West Coast,"Hawaii, USA",162594,27640,22564,92206,44719,46293.0
3,West Coast,"Oregon, USA",109147,23946,4098,29913,18316,14395.0
4,West Coast,"Washington, USA",98557,40371,10013,67107,40412,41235.0
5,East Coast,"Alabama, USA",162118,52720,8663,102815,83611,32891.0
6,East Coast,"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
7,East Coast,"Delaware, USA",104780,17237,6183,58002,36072,16253.0
8,East Coast,"Florida, USA",2136662,326441,91921,866500,516453,437590.0
9,East Coast,"Georgia, USA",117665,29566,10242,107308,47645,67750.0
10,East Coast,"Louisiana, USA",99923,17611,5127,19305,29219,19014.0
11,East Coast,"Maine, USA",59493,24553,15405,98015,24849,20562.0
12,East Coast,"Maryland, USA",137983,89443,5934,30097,30319,16551.0
13,East Coast,"Massachusetts, USA",194662,1734445,22658,112408,78640,45557.0
14,East Coast,"Mississippi, USA",272746,96520,15740,162647,117390,65066.0
15,East Coast,"New Hampshire, USA",30565,124788,8664,64128,12026,9188.0
16,East Coast,"New Jersey, USA",247981,40086,8032,69884,89245,39655.0
17,East Coast,"New York, USA",531150,137787,25011,212475,212727,136847.0
18,East Coast,"North Carolina, USA",134397,34006,6057,137720,66539,42385.0
19,East Coast,"Rhode Island, USA",212945,55080,21238,166780,94181,71354.0
20,East Coast,"South Carolina, USA",123444,44163,9071,98693,47983,37967.0
21,East Coast,"Texas, USA",568165,111735,44542,196452,140885,101938.0
22,East Coast,"Virginia, USA",261140,71165,7226,114577,119174,63518.0

In [34]:
# Saving Overall Data together
East_West_Litter.to_csv("output_data/Bicoastal_Litter.csv", index=True)