In [1]:
import pandas as pd

In [2]:
# Creating links to sources

alaska = "Resources/Alaska.csv"
california = "Resources/California2014.csv"
hawaii = "Resources/Hawaii.csv"
oregon = "Resources/Oregon.csv"
washington = "Resources/Washington.csv"

In [3]:
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

In [4]:
WC_states = [alaska_pd, california_pd, hawaii_pd, oregon_pd, washington_pd]
WC = pd.concat(WC_states)
WC.head()

C:\Users\sach2\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,# of bags,6-Pack Holders,Adults,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),...,Syringes,Take Out/Away Containers (Foam),Take Out/Away Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packaging/Wrap,Total Items Collected,Toys,Unnamed: 61,Zone
0,0.0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0.0,0
0,1.0,0,2.0,0,1,1,1,0,5,10,...,0,0,0,0,0,0,142.0,0,NaN,"Los Angeles County, CA, USA"
1,NaN,0,NaN,0,1,1,1,0,5,10,...,0,0,0,0,0,0,NaN,0,NaN,NaN
0,0.0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0.0,0
0,0.0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0.0,0

In [5]:
WC_edit = WC.drop(columns=['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People'])
WC_edit

,# of bags,6-Pack Holders,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),Cigar Tips,...,"Straws, Stirrers",Syringes,Take Out/Away Containers (Foam),Take Out/Away Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packaging/Wrap,Total Items Collected,Toys,Unnamed: 61
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,1.0,0,0,1,1,1,0,5,10,18,...,2,0,0,0,0,0,0,142.0,0,NaN
1,NaN,0,0,1,1,1,0,5,10,18,...,2,0,0,0,0,0,0,NaN,0,NaN
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0

In [6]:
WC_renamed = WC_edit.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", 
                                       "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)", 
                                       "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", 
                                       "Fishing Buoys, Pots & Traps" : "Fishing Tools", "Fishing Net & Pieces" : "Fishing Nets", 
                                       "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", "Rope (1 yard/meter = 1 piece)" : "Rope", 
                                       "Fishing Gear (Clean Swell)" : "Fishing Gear", "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", 
                                       "Tobacco Packaging/Wrap" : "Tobacco Packs", "Other Packaging (Clean Swell)" : "Other Packaging", 
                                       "Other Trash (Clean Swell)" : "Other Trash", "Personal Hygiene (Clean Swell)" : "Hygiene"})
WC_renamed

,# of bags,6-Pack Holders,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),Cigar Tips,...,"Straws, Stirrers",Syringes,Food Containers (Foam),Food Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packs,Total Items Collected,Toys,Unnamed: 61
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,1.0,0,0,1,1,1,0,5,10,18,...,2,0,0,0,0,0,0,142.0,0,NaN
1,NaN,0,0,1,1,1,0,5,10,18,...,2,0,0,0,0,0,0,NaN,0,NaN
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0

In [7]:
# Group all our plastic items and then call them into a data frame together based by State
plastic_group = WC_renamed[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers",
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags",
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces"]]
plastic_group.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,Alaska,0,0,0,0,0,0,0,0,0,0,0,0
0,"California, USA",0,10,0,2,1,0,2,0,0,0,0,36
1,NaN,0,10,0,2,1,0,2,0,0,0,0,36
0,Hawaii,0,0,0,0,0,0,0,0,0,0,0,0
0,Oregon,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
plastic_grouping = plastic_group.groupby(["State"])
WC_plastic_count = plastic_grouping.sum()
WC_plastic_count.head()

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
Alaska,0,0,0,0,0,0,0,0,0,0,0,0
"California, USA",0,10,0,2,1,0,2,0,0,0,0,36
Hawaii,0,0,0,0,0,0,0,0,0,0,0,0
Oregon,0,0,0,0,0,0,0,0,0,0,0,0
Washington,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_plastic_count["Plastic Waste"]  = WC_plastic_count.sum(axis=1)
WC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
Alaska,0,0,0,0,0,0,0,0,0,0,0,0,0
"California, USA",0,10,0,2,1,0,2,0,0,0,0,36,51
Hawaii,0,0,0,0,0,0,0,0,0,0,0,0,0
Oregon,0,0,0,0,0,0,0,0,0,0,0,0,0
Washington,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
# Before grouping all the foam together, call forward all foam items
WC_group = WC_renamed[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces"]]
WC_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,Alaska,0,0,0,0
0,"California, USA",0,0,0,45
1,NaN,0,0,0,45
0,Hawaii,0,0,0,0
0,Oregon,0,0,0,0
0,Washington,0,0,0,0

In [11]:
# Grouping foam pieces together
foam_group = WC_group.groupby(["State"])
WC_foam_counts = foam_group.sum()
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
Alaska,0,0,0,0
"California, USA",0,0,0,45
Hawaii,0,0,0,0
Oregon,0,0,0,0
Washington,0,0,0,0

In [12]:
# Create a Subtotal Column for Foam Items collected in the data frame
WC_foam_counts["Foam Waste"]  = WC_foam_counts.sum(axis=1)
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
Alaska,0,0,0,0,0
"California, USA",0,0,0,45,45
Hawaii,0,0,0,0,0
Oregon,0,0,0,0,0
Washington,0,0,0,0,0

In [13]:
# Repeating the same process, now we'll group the fishing 
WC_fishing = WC_renamed[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
WC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,Alaska,0,0,0,0,0
0,"California, USA",0,0,0,0,0
1,NaN,0,0,0,0,0
0,Hawaii,0,0,0,0,0
0,Oregon,0,0,0,0,0
0,Washington,0,0,0,0,0

In [14]:
# Grouping Foam Pieces together
fishing_group = WC_fishing.groupby(["State"])
WC_fishing_counts = fishing_group.sum()
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
Alaska,0,0,0,0,0
"California, USA",0,0,0,0,0
Hawaii,0,0,0,0,0
Oregon,0,0,0,0,0
Washington,0,0,0,0,0

In [15]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_fishing_counts["Fisherman's Waste"]  = WC_fishing_counts.sum(axis=1)
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
Alaska,0,0,0,0,0,0
"California, USA",0,0,0,0,0,0
Hawaii,0,0,0,0,0,0
Oregon,0,0,0,0,0,0
Washington,0,0,0,0,0,0

In [16]:
# Same process with Misc
random_mess = WC_renamed[["State", "Strapping Bands", "Other Packaging", "Other Trash", "Fireworks", 
                          "Appliances (refrigerators, washers, etc.)", "# of bags", "Construction Materials", "Tires", 
                          "Toys", "Diapers", "Syringes", "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,Alaska,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,"California, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,3
1,NaN,0,0,0,0,0,NaN,0,0,0,0,0,0,0,3
0,Hawaii,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,Oregon,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,Washington,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0

In [17]:
random_trash = random_mess.groupby(["State"])
WC_misc_waste = random_trash.sum()
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
Alaska,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
"California, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,3
Hawaii,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
Oregon,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
Washington,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0

In [18]:
# Create a Subtotal Column for Miscellaneous items collected in the data frame
WC_misc_waste["Miscellaneous Waste Items"] = WC_misc_waste.sum(axis=1)
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
Alaska,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
"California, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,3,4.0
Hawaii,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
Oregon,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
Washington,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0

In [19]:
WC_smoking_waste = WC_renamed[["State", "Cigarette Butts", "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", ]]
WC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,Alaska,0,0,0,0
0,"California, USA",9,0,18,0
1,NaN,9,0,18,0
0,Hawaii,0,0,0,0
0,Oregon,0,0,0,0
0,Washington,0,0,0,0

In [20]:
smoking_waste_group = WC_smoking_waste.groupby(["State"])
WC_smoking_waste_counts = smoking_waste_group.sum()
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
Alaska,0,0,0,0
"California, USA",9,0,18,0
Hawaii,0,0,0,0
Oregon,0,0,0,0
Washington,0,0,0,0

In [21]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_smoking_waste_counts["Smoking Waste Items"]  = WC_smoking_waste_counts.sum(axis=1)
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
Alaska,0,0,0,0,0
"California, USA",9,0,18,0,27
Hawaii,0,0,0,0,0
Oregon,0,0,0,0,0
Washington,0,0,0,0,0

In [22]:
food_mess = WC_renamed[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", "Beverage Cans", 
                        "Paper Bags", "Cups, Plates (Paper)"]]
food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,Alaska,0,0,0,0,0,0
0,"California, USA",7,2,5,0,0,0
1,NaN,7,2,5,0,0,0
0,Hawaii,0,0,0,0,0,0
0,Oregon,0,0,0,0,0,0
0,Washington,0,0,0,0,0,0

In [23]:
food_waste = food_mess.groupby(["State"])
WC_misc_food_waste = food_waste.sum()
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
Alaska,0,0,0,0,0,0
"California, USA",7,2,5,0,0,0
Hawaii,0,0,0,0,0,0
Oregon,0,0,0,0,0,0
Washington,0,0,0,0,0,0

In [24]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_misc_food_waste["Misc Food Waste Items"]  = WC_misc_food_waste.sum(axis=1)
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
Alaska,0,0,0,0,0,0,0
"California, USA",7,2,5,0,0,0,14
Hawaii,0,0,0,0,0,0,0
Oregon,0,0,0,0,0,0,0
Washington,0,0,0,0,0,0,0

In [25]:
# Merge
WC_plastic_foam = pd.merge(WC_plastic_count, WC_foam_counts, on="State", how="left")
WC_fishing_smoking = pd.merge(WC_fishing_counts, WC_smoking_waste_counts, on="State", how="left")
WC_miscfood_misc = pd.merge(WC_misc_food_waste, WC_misc_waste, on="State", how="left")
WC_four = pd.merge(WC_plastic_foam, WC_fishing_smoking, on="State", how="left")
WC_total = pd.merge(WC_four, WC_miscfood_misc, on="State", how="left")
WC_grand_total = WC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])
WC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
Alaska,0,0,0,0,0,0.0
"California, USA",51,45,0,27,14,4.0
Hawaii,0,0,0,0,0,0.0
Oregon,0,0,0,0,0,0.0
Washington,0,0,0,0,0,0.0

In [26]:
# Saving West Coast Data to CSV
WC_grand_total.to_csv("Resources/2014_WC_Litter.csv", index=True)

In [27]:
East_Coast_Waste = "Resources/2014_EC_Litter.csv"
West_Coast_Waste = "Resources/2014_WC_Litter.csv"

In [28]:
East_Coast_Waste = pd.read_csv(East_Coast_Waste)
West_Coast_Waste = pd.read_csv(West_Coast_Waste)

In [29]:
East_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,Alabama,0,0,0,0,0,0.0
1,Connecticut,0,0,0,0,0,0.0
2,Delaware,0,0,0,0,0,0.0
3,Florida,0,0,0,0,0,0.0
4,Georgia,0,0,0,0,0,0.0

In [30]:
West_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,Alaska,0,0,0,0,0,0.0
1,"California, USA",51,45,0,27,14,4.0
2,Hawaii,0,0,0,0,0,0.0
3,Oregon,0,0,0,0,0,0.0
4,Washington,0,0,0,0,0,0.0

In [31]:
# Working on Merging both EC & WC Data
East_West_Litter = pd.concat([West_Coast_Waste, East_Coast_Waste], axis=0, join="outer")
East_West_Litter

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,Alaska,0,0,0,0,0,0.0
1,"California, USA",51,45,0,27,14,4.0
2,Hawaii,0,0,0,0,0,0.0
3,Oregon,0,0,0,0,0,0.0
4,Washington,0,0,0,0,0,0.0
0,Alabama,0,0,0,0,0,0.0
1,Connecticut,0,0,0,0,0,0.0
2,Delaware,0,0,0,0,0,0.0
3,Florida,0,0,0,0,0,0.0
4,Georgia,0,0,0,0,0,0.0
5,Louisiana,0,0,0,0,0,0.0
6,Maine,0,0,0,0,0,0.0
7,Maryland,0,0,0,0,0,0.0
8,Massachusetts,0,0,0,0,0,0.0
9,Mississippi,0,0,0,0,0,0.0
10,New Hampshire,0,0,0,0,0,0.0
11,New Jersey,0,0,0,0,0,0.0
12,New York,0,0,0,0,0,0.0
13,"North Carolina, USA",1034,255,110,2097,90,256.0
14,Rhode Island,0,0,0,0,0,0.0
15,South Carolina,0,0,0,0,0,0.0
16,Texas,0,0,0,0,0,0.0
17,"Virginia, USA",5,1,1,1,2,0.0

In [32]:
Combo_Data = [West_Coast_Waste, East_Coast_Waste]

In [33]:
East_West_Litter = pd.concat(Combo_Data, keys=['West Coast', 'East Coast']).reset_index()
East_West_Litter

,level_0,level_1,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,0,Alaska,0,0,0,0,0,0.0
1,West Coast,1,"California, USA",51,45,0,27,14,4.0
2,West Coast,2,Hawaii,0,0,0,0,0,0.0
3,West Coast,3,Oregon,0,0,0,0,0,0.0
4,West Coast,4,Washington,0,0,0,0,0,0.0
5,East Coast,0,Alabama,0,0,0,0,0,0.0
6,East Coast,1,Connecticut,0,0,0,0,0,0.0
7,East Coast,2,Delaware,0,0,0,0,0,0.0
8,East Coast,3,Florida,0,0,0,0,0,0.0
9,East Coast,4,Georgia,0,0,0,0,0,0.0
10,East Coast,5,Louisiana,0,0,0,0,0,0.0
11,East Coast,6,Maine,0,0,0,0,0,0.0
12,East Coast,7,Maryland,0,0,0,0,0,0.0
13,East Coast,8,Massachusetts,0,0,0,0,0,0.0
14,East Coast,9,Mississippi,0,0,0,0,0,0.0
15,East Coast,10,New Hampshire,0,0,0,0,0,0.0
16,East Coast,11,New Jersey,0,0,0,0,0,0.0
17,East Coast,12,New York,0,0,0,0,0,0.0
18,East Coast,13,"North Carolina, USA",1034,255,110,2097,90,256.0
19,East Coast,14,Rhode Island,0,0,0,0,0,0.0
20,East Coast,15,South Carolina,0,0,0,0,0,0.0
21,East Coast,16,Texas,0,0,0,0,0,0.0
22,East Coast,17,"Virginia, USA",5,1,1,1,2,0.0

In [34]:
East_West_Litter = East_West_Litter.drop(columns=['level_1'])
East_West_Litter

,level_0,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,Alaska,0,0,0,0,0,0.0
1,West Coast,"California, USA",51,45,0,27,14,4.0
2,West Coast,Hawaii,0,0,0,0,0,0.0
3,West Coast,Oregon,0,0,0,0,0,0.0
4,West Coast,Washington,0,0,0,0,0,0.0
5,East Coast,Alabama,0,0,0,0,0,0.0
6,East Coast,Connecticut,0,0,0,0,0,0.0
7,East Coast,Delaware,0,0,0,0,0,0.0
8,East Coast,Florida,0,0,0,0,0,0.0
9,East Coast,Georgia,0,0,0,0,0,0.0
10,East Coast,Louisiana,0,0,0,0,0,0.0
11,East Coast,Maine,0,0,0,0,0,0.0
12,East Coast,Maryland,0,0,0,0,0,0.0
13,East Coast,Massachusetts,0,0,0,0,0,0.0
14,East Coast,Mississippi,0,0,0,0,0,0.0
15,East Coast,New Hampshire,0,0,0,0,0,0.0
16,East Coast,New Jersey,0,0,0,0,0,0.0
17,East Coast,New York,0,0,0,0,0,0.0
18,East Coast,"North Carolina, USA",1034,255,110,2097,90,256.0
19,East Coast,Rhode Island,0,0,0,0,0,0.0
20,East Coast,South Carolina,0,0,0,0,0,0.0
21,East Coast,Texas,0,0,0,0,0,0.0
22,East Coast,"Virginia, USA",5,1,1,1,2,0.0

In [35]:
# Rename 
East_West_Litter_fin = East_West_Litter.rename(columns = {"level_0" : "Coast"})
East_West_Litter_fin

,Coast,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,Alaska,0,0,0,0,0,0.0
1,West Coast,"California, USA",51,45,0,27,14,4.0
2,West Coast,Hawaii,0,0,0,0,0,0.0
3,West Coast,Oregon,0,0,0,0,0,0.0
4,West Coast,Washington,0,0,0,0,0,0.0
5,East Coast,Alabama,0,0,0,0,0,0.0
6,East Coast,Connecticut,0,0,0,0,0,0.0
7,East Coast,Delaware,0,0,0,0,0,0.0
8,East Coast,Florida,0,0,0,0,0,0.0
9,East Coast,Georgia,0,0,0,0,0,0.0
10,East Coast,Louisiana,0,0,0,0,0,0.0
11,East Coast,Maine,0,0,0,0,0,0.0
12,East Coast,Maryland,0,0,0,0,0,0.0
13,East Coast,Massachusetts,0,0,0,0,0,0.0
14,East Coast,Mississippi,0,0,0,0,0,0.0
15,East Coast,New Hampshire,0,0,0,0,0,0.0
16,East Coast,New Jersey,0,0,0,0,0,0.0
17,East Coast,New York,0,0,0,0,0,0.0
18,East Coast,"North Carolina, USA",1034,255,110,2097,90,256.0
19,East Coast,Rhode Island,0,0,0,0,0,0.0
20,East Coast,South Carolina,0,0,0,0,0,0.0
21,East Coast,Texas,0,0,0,0,0,0.0
22,East Coast,"Virginia, USA",5,1,1,1,2,0.0

In [36]:
# Saving Overall Data together
East_West_Litter_fin.to_csv("2014_Bicoastal_Litter.csv", index=True)